.vertical-menu {
  width: 200px; /* Set a width if you like */
}


.vertical-menu p {
    background-image: linear-gradient(to right, white, grey); /* Grey background color */
	color: black; /* Black text color */
	display: block; /* Make the links appear below each other */
	padding-left:12px;
	padding-top: 12px; /* Add some padding */
	padding-bottom:12px;
	margin:0px;
	border-right:2px solid black;
	border-bottom: 2px solid black;
	
}

.vertical-menu a {
  background-image: linear-gradient(to right, white, grey); /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
  border-right:2px solid black;
  border-bottom:2px solid black;
}

.vertical-menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: black; /* Add a green color to the "active/current" link */
  color: black;
}

.vertical-menu a:first-child {
	border-top:2px solid black;
}

body {
	margin:0px;
	height:100%;
	font-family: 'Roboto Mono', monospace;
}

html {
	height:100%;
	background-image: linear-gradient( to left, purple, indigo);
	background-size:auto;
}

h1 {
	text-align: center;
}
